---
---
<div class="container">
  <div class="child">Hi</div>
</div>

<style>
  .container {
    display: grid;
    place-items: center;
    height: 240px;
    background: #eaeef2;
    border: 1px dashed #afb8c1;
    border-radius: 6px;
  }
  .child {
    padding: 12px 20px;
    background: #57ab5a;
    color: white;
    border-radius: 4px;
    font-family: var(--mono);
  }
</style>
